#global {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#route {
    height: 130px;
    overflow-y: auto;
}
#map {
    float: left;
}
#options {
    width: 350px;
    float: left;
    padding: 0 10px 10px 10px;
    text-align: left;
}
.panel {
    background-color: #E8ECF9;
    border: 1px dashed black;
    padding: 5px;
    margin: 10px 0 10px 0;
}
.titre {
    text-align: left;
    font-weight: bold;
    margin: 0 0 5px 0;
}

.inputTxt {
    width: 100px;
}